@import url('https://fonts.googleapis.com/css?family=Cabin|Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Prata');

:root{
     --clrTxt: #E1E1E1;
     --clr1: #0F0C09;
     --clr2: #5C5956;
     --clr3: #4C4C54;
     --clrTransparent: rgba(0, 0, 0, .8);
     --gradientBG: linear-gradient(45deg, rgba(0, 0, 0, .7), rgba(0, 0, 0, .8));
     --ff1: 'Open Sans', sans-serif;
     --ff2: 'Montserrat', sans-serif;
}

.glitchTxt{
     position: relative;
     z-index: 2;
     &::before, &::after{
          content: attr(data-text);
          position: absolute;
          height: 100%;
          width: 100%;
          top: 0;
          left: 0;
          z-index: -1;
     }
     &::before{
          color: #ff00c1;
          animation: glitch 3s linear infinite;
     }
     &::after{
          color: #3498db;
          animation: glitch 2s linear infinite;
     }
}

.glitchBtn{
     &:hover{
          span{
               position: relative;
               z-index: 2;
               &::before, &::after{
                    content: attr(data-text);
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    top: 0;
                    left: 0;
                    z-index: -1;
               }
               &::before{
                    color: #ff00c1;
                    animation: glitch 3s linear infinite;
               }
               &::after{
                    color: #3498db;
                    animation: glitch 2s linear infinite;
               }
          }
     }
}

.btn{
     background: none;
     transition: .5s linear;
     border: none;
     cursor: pointer;
     &:focus{
       outline: none;
     }
}



@keyframes glitch {
     0%{
          left: -2px;
          top: -2px;
     }
     25%{
          left: 2px;
          top: 0px;
     }
     50%{
          left: -1px;
          top: 2px;
     }
     75%{
          left: 1px;
          top: -1px;
     }
     100%{
          left: 0px;
          top: -2px;
     }
}

@keyframes expand {
     from{
          width: 0;
     }

     to{
          width: 100%;
     }
}