$bp1: 480px;
$bp2: 768px;
$bp3: 1024px;
$bp4: 1280px;

@media screen and (min-width: 320px) and (max-width: $bp1){
     .links, .Games{
          align-items: center;
     }
}

@media screen and (min-height: 400px) and (max-width: 700px){
     article.backrooms-roadmap-early{
          padding: .5em;
     }
}

@media (max-width: 824px) and (max-height: 412px) {
     .backrooms{
          &-roadmap-early, &-features-free, &-roadmap-full{
               padding: .5em;
               flex-direction: row-reverse;
               width: 100vw;

               h1{
                    margin: 1em;
               }
          }

          &-header{
               flex-direction: row;
               flex-wrap: wrap;
               .title{
                    margin-bottom: 1em;
               }
          }
     }

     .ggmt-features{
          width: 100vw;
     }

     .ggmt{
          &-header{
               .title{
                    max-width: 50vw;
                    h1{

                         max-width: 50vw;
                    }
               }
               flex-direction: row;
          }
     }
}

@media (min-width: 768px) and (max-width: 1024px) {
     .Contact{
          

          &-info{
               flex-direction: row;
               padding: .5em;
               input[type="email"]{
                    margin-top: 0;
               }
          }
     }

     .ggmt{
          &-features, &-header, &-article{
               display: flex;
               flex-direction: column;
               justify-content: center;
          }

          &-article{
               p:nth-child(2){

                    margin: 2em 0 2em 0;
               }
          }
     }

     .backrooms{
          &-header{
               .title{
                    margin-bottom: 2em;
               }
               justify-content: center;
          }

          .carousel-container-features, .slide-info, .progress-card{
               
                    

               max-height: 70vh;
          }
     }

}

@media (min-width: 540px) and (max-height: 720px){
     .links, .Games{
          a.btn span{
               font-size: 1.5em;
          }
     }

     .ggmt{
          &-features, &-header, &-article{
               .title-p, h1{
                    font-size: 2rem;
               }
               .slide-info h1{
                    margin: 0 0 .5em 0;
               }

               p{
                    font-size: .7rem;
               }
          }
     }

     .backrooms{
          &-features-free, &-roadmap-early, &-roadmap-full{
               h1, .title-p{
                    font-size: 1.5rem;
               }

               p{
                    font-size: .8rem;
               }
          }
     }
}

@media (width: 1024px) and (height: 768px){
     .ggmt{
          &-features{
               width: 100vw;
          }
     }
     .carousel-container-features{
          max-width: 80vw;
          
     }
     .backrooms{

          .carousel-container-features, .slide-info, .progress-card{
               h1{
                    font-size: 1.5em;
               }
     
               p{
                    font-size: .8em;
               }
          }
     }
}

@media(min-width: $bp2){
     
     .Contact-header{
          max-width: 80%;
     }
     .ppp-footer{
          padding: 2em;
          .icons{
               transform: scale(1.5);
          }
          
          p{
               margin-top: 3em;
          }
     }
}

@media (min-width: $bp3) and (max-width: $bp4){
     .ppp-footer{
          .icons{
               .btn{
                    width: 6em;
                    padding: 1.5em 1em 1.5em 1em;
               }
          }
     }
}

@media (min-width: 1366px) and (height: 1024px){
     .ggmt{
          &-features{
               width: 100vw;
          }
     }
     .carousel-container-features{
          .slide-info{
               height: 90%;
          }
          max-width: 80vw;
          
     }

     .backrooms{
          &-header{
               .title{
                    margin-bottom: 2em;
               }
               justify-content: center;
          }

          .carousel-container-features, .slide-info, .progress-card{
               
               h1{
                    font-size: 1.3em;
               }
     
               p{
                    font-size: .8em;
               }                    

               max-height: 70vh;
          }
     }
}


@media (min-width: 1024px){
     .nav-btn{
          display: none;
     }
     .navBar{
          opacity: 1;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          max-height: 15vh;
          &:not(.open){
               pointer-events: painted;
          }
          
          .links-container{
               transform: translate(0, 0);
          }
          .links, .Games{
               
               margin: 0;
               flex-direction: row;
               max-height: 15vh;
               width: 100vw;
               li{
                    margin: 0;
                    padding: 0;
                    .btn{
                         .icon{
                              
                              margin-right: .15em;
                              transform: translateX(0) scale(.7);
                         }
                    }
               }

          }
     }

}
